body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    background-color: #f5f5f5;
}

table {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    width: 100%;
}

td {
    border-bottom: 10px solid;
}

tr {
    border-right: 3px solid;
    height: 10px;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

caption {
    background-color: #71b9e9;
    font-size: 1.5em;
    padding: 15px 0px;
    border: 3px solid;
    border-bottom: 1px solid;
}

th {
    background-color: #9de9bd;
    padding: 10px 0px;
    border: 3px solid;
}

td {
    border: 2px solid #7c9ea6;
    padding: 4px;
    width: 10%;
    box-sizing: border-box;
}

.materia {
    border: 2px solid;
    width: 25%;
    border-right: 3px solid rgb(170, 36, 31);
    background-color: bisque;
}

.hora {
    border: 2px solid;
    font-weight: bold;
    text-align: center;
    border-right: 3px solid rgb(170, 36, 31);
    background-color: rgb(189, 229, 243);
    width: 2%;
}

.dia {
    background-color: rgb(232, 221, 223);
    width: 12%;
    border: 3px solid rgb(170, 36, 31);
}

.r {
    border-bottom: 2px solid;
}

.sep {
    border-bottom: 3px solid rgb(170, 36, 31);
}